# client files to ignore
client/# Logs
client/logs
client/*.log
client/npm-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

client/# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.DS_Store
client/.env

# server files to ignore
server/.env
server/node_modules
server/dist
server/tests


# frontend files to ignore
frontend/# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

frontend/# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.DS_Store
frontend/.env

# backend files to ignore
backend/.env
backend/node_modules
backend/dist
backend/tests