<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sign in to Swift Bank</title>
    </head>
    <body>
        <p>
            Click here to sign in to Swift Bank:
            <a href="<%= magicLink %>">Signin</a>
        </p>
    </body>
</html>
